.hourlistselection{

    display: flex;
    flex-wrap: wrap;
    width: 350px;
    background: rgb(255, 245, 245);
    justify-content: center;
    
}
.rdvlist{
    
    width: 800px;
    height: 800px;
    justify-content: space-around;
    
    
}
.rdv{
    display: flex;
    justify-content: space-around;
}
.rdvlist content{
    
    font-size: 15px;
    
    
    
}
.booked_rdv{
    padding: 30px;
    background: #d1f1fd;
}

.manage_dispo{
    height: 20px;
    
    background: white;
}

@media screen and (max-width:640px) and (min-width:200px){

.rdv{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.rdv form{
    margin-top: 10%;
}


}