#preparation{

 
 margin-left: -30px;
 margin-top: 50px;



}
.home_offre{
    width: 400px;
    height: 380px;
    background: linear-gradient(to bottom, #E5F8FF 90%,#ffffff00);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
   
    
    
  }

  .home_offre .photo{
   margin-top: 20px;
   height: 310px;
   width: 280px;
   background-color: white;
   box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.308);
   border-radius: 3px;




  }
  .photo img{
    height: inherit;
    width: inherit;
    border-radius: 3px;
  }

offretitle{
    font-weight: 700;
    font-size: 21px;
    z-index:15;
    font-family: "montserrat alternates";
    letter-spacing: 2px;
    
    
}