.image_methode{

    height: 300px;
    width: 280px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.267);
    margin-top: 20px;
    margin-bottom: 20px;

}
.valeur #box_content {
   max-width: 300px;
   margin: 20px;
}

.methode_text {
    margin: 100px;
    margin-top: 30px;
    max-width: 820px;
    background: white;
    padding: 30px;
}