.offre_note_content{

    line-height: 18px;
    text-align: left;
    margin-left: 30px;
}
.tab_offre_text{
    width: 60%;
    padding-bottom: 30px;
    font-weight: 500;
    margin-left: 100px;
}
.offre_text{
    width: 400px;
}
.offre_text content1{
    letter-spacing: 1px;
    line-height: 20px;
    padding: 20px;
    border-left-style: solid;
    border-left-color: #2873C9;
    border-left-width: 10px;
    padding-bottom: 15px;
    box-shadow: 2px 5px 0.5px rgba(0, 0, 0, 0.041);
    margin-bottom: 70px;
    background-color: white;

}
.offre_content{

    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

}